@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;;
}

.container-list-color {
    background-color: whitesmoke;
    position: relative;
    padding: 1.5rem;
   bottom: -8rem;
}