@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;;
}

:root {
    --primary-color: darkcyan;
    --black-color: #000000;
}

body {
    background-color: white;
    background-image: url("Images/logoimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--second-color);
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    background-color: #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login_box {
    position: relative;
    width: 450px;
    color: var(--second-color);
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    box-shadow: 0px 0px 10px 2px #00000033;
}

.login-header {
    width: 140px;
    height: 70px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.login-header span {
    font-size: 30px;
    color: var(--black-color);
}

.login-header::before {
    width: 30px;
    height: 30px;
    content: "";
    box-shadow: 15px 0 0 0 var(--primary-color);
    position: absolute;
    top: 0;
    left: -30px;
    border-top-right-radius: 50%;
    background: transparent;
}

.login-header::after {
    content: "";
    width: 30px;
    height: 30px;
    box-shadow: -15px 0 0 0 var(--primary-color);
    position: absolute;
    top: 0;
    right: -30px;
    border-top-left-radius: 50%;
    background: transparent;
}

.input_box {
    
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    height: 55px;
    background: transparent;
    color: var(--second-color);
    font-size: 16px;
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
    background-color: var(--primary-color);
    color: var(--black-color);
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    border-radius: 30px;
    padding: 0 10px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.remember-me {
    display: flex;
    gap: 4px;
}

.input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.register {
    text-align: center;
}

.register a {
    font-weight: 500;
}
